# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Huge files and/or currently unused files
backups/
data/*
!data/spell_data.db
logs/*.txt
parses/
!parses/.gitkeep 
sandbox/
flag_info.txt
