# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Huge files and/or currently unused files
backups/
data/
logs/*.txt
parses/
!parses/.gitkeep 
sandbox/
wow_hero_classes/
wow_icon/
flag_info.txt
